.homepage-head {
    background-color: rgb(255, 183, 183);
}
.logo {
    width: 40%;
}
.dish-block {
    width: 250px;
    height: 250px;
    background-color: rgb(255, 183, 183);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.dish-block-photo {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.dish-block-name {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.dish-block-img {
    width: 80%;
}
.test {
    background-color: blue;
    width: 50px;
    height: 50px;
}